body {
    background-color: #0F0F0F;
    font-family: monospace;
}

#frame {
    display: grid;
    grid-template-columns: repeat(30, 1fr);
    grid-template-rows: repeat(20, 1fr);
    height: 98vh;
    grid-gap: 0.3vw;
}

#title {
    grid-area: 1 / 1 / 1 / 28;
    color: whitesmoke;
    font-size: 40px;
    text-align: center;
}

#pages {
    grid-area: 2 / 1 / 3 / 18;
    display: flex;
}

.page {
    padding-left: 1vw;
    font-size: 18px;
    color: grey;
    text-decoration: underline;
    flex-grow: 1;
    align-self: center;
}

#report, #docs {
    color: whitesmoke;
    cursor: pointer;
}

#output {
    background-color: #161617;
    border-radius: 10px;
    color: whitesmoke;
    outline: 0;
    font-size: 18px;
    resize: none;
    border: 3px solid #005B41;
    grid-area: 4 / 18 / 21 / 31;
    tab-size: 1;
}

#output:focus {
    outline: 1px solid #3a772e;
    font-size: 18px;
}

button {
    background-color: #3a772e;
    border: none;
    box-shadow: 0 5px #23481c;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
}

.rect {
    border-radius: 10px;
    width: 2.5vw;
    height: 2.5vw;
    justify-self: right;
    font-size: 25px;
}

#upload {
    grid-area: 3 / 17 / 4 / 18;
    z-index: 2;
    margin: 0.3vw 0.3vw 0.1vw;
}

#download {
    grid-area: 4 / 17 / 5 / 18;
    z-index: 3;
    margin: 0vw 0.3vw;
}

#run {
    grid-area: 2 / 27 / 4 / 31;
    height: 7vh;
    font-size: 27px;
    border-radius: 35px;
    margin-top: 3.5vh;
}

.active {
    background-color: rgb(108, 10, 10);
    box-shadow: 0 5px rgb(54, 5, 5);

}

.active:hover {
    background-color: rgb(142, 0, 0);
}

button:active {
    transform: translateY(2px);
}

button:hover:not(.active) {
    background-color: #4e9f3d
}

#files {
    grid-area: 3 / 18 / 4 / 27;
    /* outline: 1px dashed white; */
}

#version {
    grid-area: 1 / 1 / 2 / 4;
    color: whitesmoke;
}

#loopWait {
    grid-area: 1 / 26 / 2 / 29;
    z-index: 2;
    outline: none;
    opacity: 0.5;
    width: 70%;
    justify-self: center;
}

#waitMessage{
    grid-area: 1 / 24 / 3 / 31;
    color: grey;
    text-align: center;
    font-size: 12px;
    padding-top: 0.25vh;
}
