body {
    background-color: #0F0F0F;
    font-family: monospace;
}

#frame {
    display: grid;
    grid-template-columns: repeat(30, 1fr);
    grid-template-rows: repeat(20, 1fr);
    height: 98vh;
    grid-gap: 0.3vw;
}

#title {
    grid-area: 1 / 1 / 1 / 31;
    color: whitesmoke;
    font-size: 40px;
    text-align: center;
}

#pages {
    grid-area: 2 / 1 / 3 / 18;
    display: flex;
}

.page {
    padding-left: 1vw;
    font-size: 18px;
    color: whitesmoke;
    cursor: pointer;
    text-decoration: underline;
    flex-grow: 1;
    align-self: center;
    text-decoration-thickness: 1px;
}

#output {
    background-color: #161617;
    border-radius: 10px;
    color: whitesmoke;
    outline: 0;
    font-size: 18px;
    resize: none;
    border: 3px solid #005B41;
    grid-area: 4 / 18 / 21 / 31;
    tab-size: 1;
}

#output:focus {
    outline: 1px solid #3a772e;
    font-size: 18px;
}

button {
    background-color: #3a772e;
    border: none;
    box-shadow: 0 5px #23481c;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
}

.rect {
    border-radius: 10px;
    width: 50px;
    height: 50px;
    justify-self: right;
    font-size: 30px;
}

#upload {
    grid-area: 3 / 17 / 4 / 18;
    z-index: 2;
    margin: 6px 6px 3px;
}

#download {
    grid-area: 4 / 17 / 5 / 18;
    z-index: 3;
    margin: 0px 6px;
}

#run {
    grid-area: 2 / 27 / 4 / 31;
    height: 70px;
    font-size: 30px;
    border-radius: 35px;
    margin-top: 45px;
}

#run.active, #deleteFile {
    background-color: rgb(108, 10, 10);
    box-shadow: 0 5px rgb(54, 5, 5);

}

#run.active:hover, #deleteFile:hover {
    background-color: rgb(142, 0, 0);
}

button:active {
    transform: translateY(2px);
}

button:hover:not(.active) {
    background-color: #4e9f3d
}

.fileOption {
    display: none;
}

#version {
    grid-area: 1 / 1 / 2 / 4;
    color: whitesmoke;
}

#renameFile {
    grid-area: 4 / 29 / 5 / 31;
    z-index: 2;
    margin: 6px 6px 3px;
}

#customDownload {
    grid-area: 5 / 29 / 6 / 31;
    z-index: 3;
    margin: 0px 6px 3px;
}

#resetFile {
    grid-area: 6 / 29 / 7 / 31;
    z-index: 3;
    margin: 0px 6px 3px;
}

#deleteFile {
    grid-area: 7 / 29 / 8 / 31;
    z-index: 3;
    margin: 0px 6px;
}

#fileName {
    grid-area: 3 / 18 / 4 / 22;
    color: white;
    background-color: #23481c;
    border: none;
    box-shadow: 0 5px #152a11;
    height: 50px;
    border-radius: 10px;
    text-align: center;
    vertical-align: middle;
    line-height: 50px;
    font-size: 18px;
}

.fileNavigation {
    margin-top: 6px;
}

#manageFiles {
    cursor: default;
    pointer-events: none;
}

#manageFiles.active {
    background-color: #23481c;
    box-shadow: 0 5px #152a11;
}

#fileDropdown {
    position: relative;
    display: inline-block;
    grid-area: 3 / 22 / 4 / 23;
}

#dropdownContents {
    border-radius: 6px;
    display: none;
    position: absolute;
    background-color: #418633;
    min-width: 230px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 3;
    border: 1px solid #418633;
}

#dropdownContents div {
    border-radius: 6px;
    color: whitesmoke;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    cursor: pointer;
}

#dropdownContents div:hover {background-color: #356e2a;}

#fileDropdown:hover:not(.active) #dropdownContents {display: block;}

#fileDropdown:hover:not(.active) #manageFiles {background-color: #4e9f3d;}

#console, #add, #customUpload {
    background-color: #295d1f;
    border: 3px solid #418633;
}